In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
raw_pc = [] #dtype=np.int32
raw_gtable = [] #dtype=np.int8
raw_ga = [] #dtype=np.uint8
raw_taken = [] #dtype=np.uint8

In [3]:
with open("trace_test.out") as file:
    for i in range(16):
        file.readline()
    for i in range(1600000):
        line = file.readline()
        if not line:
            break
        line = line.strip().split('@')
        if(line[0] == 'PC'):
            raw_line = bin(np.uint32(line[1])).split('b')[1]
            zeros_up = 32 - len(raw_line)
            raw_line = '0'*zeros_up + raw_line   
            temp = []
            for i in raw_line:
                temp.append(int(i))
            raw_pc.append(temp)
        elif(line[0] == 'GTABLE'):
            temp = []
            for i in line[1].split():
                temp.append(np.int8(i))
            raw_gtable.append(temp)
        elif(line[0] == 'GA'):
            temp = []
            for i in line[1].split():
                raw_line = bin(np.uint8(i)).split('b')[1]
                zeros_up = 8 - len(raw_line)
                raw_line = '0'*zeros_up + raw_line
                for j in raw_line:
                    temp.append(int(j))            
            raw_ga.append(temp)
        elif(line[0] == 'TARGET'):
            raw_taken.append(int(line[1]))
        else:
            continue

In [4]:
pc = np.array(raw_pc,dtype=np.uint8)
gtable = np.array(raw_gtable,dtype=np.int8)
ga = np.array(raw_ga,dtype=np.uint8)
taken = np.array(raw_taken,dtype=np.uint8)

In [5]:
target = taken[:,np.newaxis]

In [7]:
gtable = (gtable-(-2))/(1-(-2))
pd.DataFrame(gtable).describe().T

,count,mean,std,min,25%,50%,75%,max
0,400000.0,0.000838,0.019375,0.000000,0.000000,0.000000,0.000000,0.666667
1,400000.0,0.001374,0.034263,0.000000,0.000000,0.000000,0.000000,1.000000
2,400000.0,0.000716,0.019273,0.000000,0.000000,0.000000,0.000000,0.666667
3,400000.0,0.002491,0.038067,0.000000,0.000000,0.000000,0.000000,1.000000
4,400000.0,0.003523,0.048920,0.000000,0.000000,0.000000,0.000000,1.000000
...,...,...,...,...,...,...,...,...
59,400000.0,0.655023,0.255711,0.333333,0.333333,0.666667,1.000000,1.000000
60,400000.0,0.001007,0.024183,0.000000,0.000000,0.000000,0.000000,1.000000
61,400000.0,0.331242,0.276295,0.000000,0.000000,0.333333,0.666667,0.666667
62,400000.0,0.000681,0.018298,0.000000,0.000000,0.000000,0.000000,0.666667
63,400000.0,0.002316,0.030920,0.000000,0.000000,0.000000,0.000000,1.000000

In [8]:
def save_dataset(benchmark_name):
    data_for_df = np.concatenate((pc,gtable,ga,target),axis=1)
    df = pd.DataFrame(data_for_df)
    df.to_csv("{0}.csv".format(benchmark_name))

In [9]:
save_dataset("I04")